/* btn voltar o top */

.btnTop{
	position: absolute;
	display: none;
}
.btnTop.animet{
	display: flex;
	padding: 1rem;
	border: none;
	top: 88%;
	z-index: 1000;
	left: 80%;
	border-radius: 2rem;
	position: sticky;
	box-shadow: $box-shadow-hover;
	i{
		font-size: 4.5rem;
	}
	// &:hover{
	// 	// box-shadow: .5rem .8rem 2rem  rgba(0,0,0,.3);
	// 	box-shadow: $box-shadow-hover;
	// }
}
