@use "sass:math";
@import 'reset';
.Produtos{
	@include sections;

	// max-width: math.div(600px, 770px) * 100% / 3;


	







	.title__container{
		@extend %title-container;
	}

	.card{
		position: relative;
		max-width: math.div(410px, 1400)  $width-card;
		height: 100%;
		margin: 0;
		padding: 1rem;
		align-items: center;
		border: .2rem solid $color-Primaria;
		border-radius: 1.2rem	;
		background: #eee;
		&:hover  {
			box-shadow: $box-shadow-hover;
			background: #fff;
		
		}
		&:hover  .card__descricao--hover {
				
			width: 60%;
			left: 40%;
		}

		@media (max-width:419px){
			width: 300px;
		}

		.card__descricao--hover {
				position: absolute;
				left: 100%;
				right: 0;
				width: 0;
				overflow: hidden;
				background: #fff;
				border-radius: 10px;
				transition: .5s ease;
				white-space: nowrap;
				.dropdown {
					.dropdown-item {
						text-align: start;
						i{
							font-size: 2rem;
							color:$color-Primaria;
							margin-bottom: .5rem;
						}
					}
				}
			}
		img{
			display: block;
			max-height: 150px;
			min-height: 160px;
			object-fit: scale-down;
			padding: .2rem;
			
				&:hover{
					padding: 0;
				}
				
			}
		
		.card-body{
			padding: .5rem;
				 p{
					font-size: 1.2rem ;
					line-height: 1.2rem;
					margin-bottom: .5rem;
					font-weight: 600;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					max-width: 20rem;

				}
				.Off{
					text-decoration: line-through;
				}
		
			}
			.on{
				margin-bottom: 1rem;

			}
			.card__btn{
				font-size: 1.4rem;
				border: none;
				background: $color-Primaria;
			}
		
	
	}
}