@import 'reset';
.Produtos{
	@include sections;
	.title-container{
		@extend %title-container;
	}

	.card{
		width: 20rem;
		height: 100%;
		margin: 0;
		padding: 1rem;
		border: .2rem solid $color-Primaria;
		border-radius: 2rem	;
		background: #eee;
	
		.icon-info{
			position: absolute;
			display: inline-flex;
			justify-content: end;
			right: 1rem;
			padding: 1rem;
			cursor: pointer;
			i{
				font-size: 2rem;
				color:#cccccc;
			}
		
		}
		&:hover{
			transition: $hover-transition;
			box-shadow: $box-shadow-hover;
			background: #fff;
		}
		.descricao-produtos {
				position: absolute;
				display: flex;
				opacity: 0;
				right: 0;
				width: 14rem;
				background: #fff;
				border-radius: 10px;
				transition: .2s linear;
				&:hover{
					opacity: 1;
					// background: #c1dcff ;
					background: rgba(255,255,255, .7);
				}
				.dropdown {
					.dropdown-item {
						text-align: start;
						i{
							font-size: 2rem;
							color:$color-Primaria;
							margin-bottom: .5rem;
						}
					}
				}
			}
		img{
			max-height: 150px;
			min-height: 160px;
			object-fit: scale-down;
			padding: .2rem;
				&:hover{
					padding: 0;
				}
			}
		.card-body{
			padding: .5rem;
			p{
				font-size: 1.2rem ;
				line-height: 1.2rem;
				margin-bottom: .5rem;
				font-weight: 600;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 20rem;

			}
			.preco-anterior{
					text-decoration: line-through;
			}
			}
			h4{
				margin-bottom: 1rem;

			}
			.btn{
				font-size: 1.4rem;
				// margin: 1rem 33%;
				border: none;
				background: $color-Primaria;
			}
		
	
	}
}