.featured{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
    
        .title-container{
            width: fit-content;
            padding: 1rem;
            border-radius: 1.5rem ;
            box-shadow:  5px 10px 30px rgba(0,0,0, .5);
            margin-bottom: 2rem;
            h2{
                margin-bottom: 0;
                color:$color-Primaria;
                text-transform: uppercase;
            }
            
        }

		.owl-carousel{
			max-width: 1240px;
			margin: 0 auto;
			padding: 0 15px;
		}
        .featured-item {
            height:450px;	
            margin-bottom: 20px;
            border-radius: 20px;
            border: 2px solid rgba(0,0,0, .2);
            padding: 10px;
            background: #e9e9e9;
            cursor: pointer;
            transition: .3s;
            &:hover{
                transition: $hover-transition;
	            box-shadow: $box-shadow-hover;
                background: #fff;
            }
            .title{
                color:$color-Primaria;
            }
            .img-item  {
                height: 280px;
                width: 100%;
                img{
                    height: 300px;
                    object-fit: scale-down;
                    
                }
                
            }
            .descricao{
                position: absolute;
                opacity: 0;
                display: flex;
                top: 3rem;
                right: 0;
                width: 14rem;
                background-color: #c1dcff ;
                border-radius: 10px;
                transition: .2s linear;
                &:hover{
                    opacity: 1;
                    background: #c1dcff ;
                }
                .dropdown {
                    .dropdown-item {
                        text-align: start;
                        i{
                            font-size: 2rem;
                            color:$color-Primaria;
                            margin-bottom: .5rem;
                        }
                    }
                }
                
            }
            .container-descricoes{
                .nome-produto{
            
                    color:$black;
                    padding: .5rem;
                }
                .preco{
                    font-size: 2rem;
                    color:$color-Primaria;
                    font-weight: 600;
                    margin-bottom: 1rem;
                    span{
                        color: #099955;
                        font-size: 1.2rem;
                        border-bottom: .2rem solid #099944;
                        padding: .5rem;
                    }
                }
            }
            
        }

		.owl-nav{
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0;
            .owl-prev,
            .owl-next{
                display: flex;
                justify-content: center;
                margin-left: 2.5rem;
                span{
                    font-size: 30px;
                    border-radius: 1rem;
                    box-shadow: 0 0 1rem rgba(0,0,0, .2);
                    padding: 1rem;
                    color:$color-Primaria;
                    &:hover {
                        padding: 1.1rem;
                    }
                }
            }
			
		}
        .owl-stage:hover  > :not(.owl-item:hover){
            opacity: .4;
            // deixa fosco os intem em que o mouse não está em cima
        }
}
