
.navbar__container{
	// flex-grow: 0;
	background: transparent;
	border-bottom: $border-botton;
	.navbar__logo{
		width: 120px;
		height: 60px;
			 .navbar__img{
				width: 100%;
				height: 100%;
			 }
	}
	
	.navbar__button{
	
		.navbar__icon{
			color: #fff;
		}
	}

			
				.navbar-nav{
					display: flex;
					justify-content: space-between;
					align-items: center;
					.navbar__item{
						padding-left: .7rem;
						.nav__link {
							font-weight: 900;
							font-size: 1.5rem;
							color:$color-Primaria;
							margin-right: 5rem;
							cursor: pointer;
						
						}
					}
				}
				
			

}