*{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html{
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 0px;
}
body {
	background: $black-liht;
}
@mixin sections() {
	width: 100%;
	border-bottom: $border-botton;
	padding: 1rem 2rem;
	padding-bottom: 2rem;
	
}
p {
	margin-bottom: 0px;
	font-size: 14px;
	color: #4a4a4a;
	line-height: 24px;
}
a {
	font-family: 'Roboto';
	font-weight: 700;
	text-decoration: none!important;
	font-size: 20px;
	text-transform: uppercase;
}
// span img{
// 	width: 20px;
// 	height: 20px;
// 	margin-left: 50px;
// }
img{
	max-height: 250px;
	padding: 0 10px;
	
}

// .logo-H img{
// 	height: 60px;
// 		 img{
// 			width: 100%;
// 			height: 140px;
// 			margin-bottom: 2rem;
// 		 }
// }
.col {
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 2rem;
	padding: 0;
}

.modal {
	max-width: 100%;
	background: rgba(255,255,255, .1);
	padding: 0;
	text-align: center;
	.modal-title {
		color:$color-Primaria;
	}
	.form-label{
		align-items: start;
		display: flex;
		justify-content: start;
		font-size: 1.7rem;
		font-weight: 400;
		color: var(--pantone2);
	}
	input, textarea{
	font-size: 1.5rem;
	}	
	
}
.invalid{
	border-color:  #f00;
}
%title-container{
	width: fit-content;
	padding: 1rem;
	border-radius: 1.5rem ;
	box-shadow:  5px 10px 30px rgba(0,0,0, .5);
	margin: 2rem 0 2rem;
	background: $bg-buttom;
	h2{
		color:$color-Primaria;
		text-transform: uppercase;
	}
	
}