.sub-footer {
	// border-top: 1px solid #eee;
	text-align: center;
	background-color: $color-Primaria;
    .copyright-text {
        text-transform: uppercase;
        p{
            color:$black-liht;
            margin: 1rem;
           
        }
    }
	

}

