//ORDENAR PELA PRIMERA LETRA
$black: #000;
$black-liht: #f7f7f7;
$border-botton: .3rem solid rgba(0,0,0,.3);
$box-shadow-hover:7px 8px 10px rgba(0,0,0,0.3);
$bg-buttom: rgba(255,255,255, .9);
$bg-page:  linear-gradient(200deg, #f9ffff 0, #011E41 100%);
$color-Primaria: #011E41;
$color-Secundario: #0047BA;
$color-Ternario: #E5E1E6;
$hover-transition: all .5s;
$mobile: 430px;
$nav-font-size: 1.5rem;
$width-card: 200px ;
