//ORDENAR PELA PRIMERA LETRA
$black: #000;
$box-shadow-hover:7px 8px 10px rgba(0,0,0,0.3);
$bg-page:  linear-gradient(90deg, #f9ffff 0, #c1dcff 50%, #89b0e0 100%);
$color-Primaria: #011E41;
$color-Secundario: #0047BA;
$color-Ternario: #E5E1E6;
$hover-transition: all .5s;
$nav-font-size: 1.5rem;
