.usuarios{
    .title-container{
        font-size: 1.2em;
        font-weight: 700;
        color: $fontColor02;
        display: flex;
        justify-content: center;
    }
    .logos-empresas{
      
        display: flex;
        margin-top: 20px;
        margin-right: 0;
        margin-left: 0;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
      
    }
    img{
        width: 80px;
        max-width: 100%;
        margin-right: 18px;
        margin-left: 18px;
        padding-right: 0;
    }
    .comentarios{
       img{
        width: 100%;
        vertical-align: middle;
        display: inline-block;
       }
    }
}